<launch>

	<arg name="input" default=":default"/>
    <arg name="dict" value="$(find cmu_pocketsphinx)/demo/4422.dic"/>
    <arg name="lm" default="$(find cmu_pocketsphinx)/demo/4422.lm"/>
    <arg name="kws" default="$(find cmu_pocketsphinx)/demo/automated.kwlist"/>
    <arg name="keyphrase" default=":default"/>
    <arg name="threshold" default=":default"/>
    <arg name="hmm" default="$(find cmu_pocketsphinx)/demo/en-us/en-us"/>
    <arg name="gram" default="$(find cmu_pocketsphinx)/demo/asr.gram"/>
    <arg name="grammar" default="asr"/>
    <arg name="rule" default="rule2"/>


	
	<include file="$(find cmu_pocketsphinx)/launch/continuous.launch">
		<arg name="input"     value="$(arg input)"/>
		<arg name="dict"      value="$(arg dict)"/>
		<arg name="lm"        value="$(arg lm)"/>
		<arg name="kws"       value="$(arg kws)"/>
		<arg name="keyphrase" value="$(arg keyphrase)"/>
		<arg name="threshold" value="$(arg threshold)"/>
		<arg name="hmm"       value="$(arg hmm)"/>
		<arg name="gram"      value="$(arg gram)"/>
		<arg name="grammar"   value="$(arg grammar)"/>
		<arg name="rule"      value="$(arg rule)"/>
	</include>
   # <node pkg="beginner_tutorials" type="function_server.py" name="add_wfafawsda"/>
   # <node pkg="beginner_tutorials" type="function_client.py" name="add_wfafaw"/>
	
</launch>
